{% extends 'layout.html' %}

{% block title %} Mini Blog {% endblock %}

{% block body %} 
<div class="row">
    <div class="col-12">
        <h3 class="text-center">
            Comentarios
        </h3>
    </div>
</div>
<div class="row">
    <div class="col-5">
        <table>
            <tr>
                <th>Usuario</th>
                <th>Fecha</th>
                <th>Contenido</th>
                <th>Acciones</th>
            </tr>
            {% for post in posts %}
                <tr>
                    <td>{{ post.usuario_id }}</td>
                    <td>{{ post.fecha_creacion }}</td>
                    <td>{{ post.contenido }}</td>
                    <td><a href="/comentarios/{{post.id}}" class="btn btn-info">Detail</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-5">
        <div class="row text-center">
            <h3>Agregar comentarios</h3>
        </div>
        <div class="row">
            {% with messages = get_flashed_messages(with_categories=true) %} <!-- Return message, category -->
                {% if messages %}
                    {% for category, message in messages%}
                        <strong> {{ category.title() }}</strong> {{ message }}
                    {% endfor %}
                {% endif%}
            {% endwith %}
            <div class="col">
                <form method="post" action="">
                    <label for="name">Usuario</label>
                    <input type="text" class="form-control" name="usuario">
                    <label for="fecha">Fecha</label>
                    <input type="text" class="form-control" name="fecha">
                    <label for="contenido">Contenido</label>
                    <input type="text" class="form-control" name="contenido">

                    <button class="btn btn-success mt-4" type="submit">
                        Guardar
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}