{% extends 'layout.html' %}

{% block title %} Mini Blog {% endblock %}

{% block body %}
    <h1>{{ post.titulo }}</h1>
    <p><em>Publicado por {{ post.autor.nombre_usuario }} el {{ post.fecha_creacion.strftime('%Y-%m-%d') }}</em></p>
    <p><strong>Categoría:</strong> {{ post.categoria.nombre }}</p>
    <div>
        {{ post.contenido }}
    </div>
    <hr>
    <h2>Comentarios</h2>
    <ul>
    {% for comentario in comentarios %}
        <li>
            <p>{{ comentario.texto }}</p>
            <p><em>Por {{ comentario.autor.nombre_usuario }} el {{ comentario.fecha_creacion.strftime('%Y-%m-%d %H:%M') }}</em></p>
        </li>
    {% else %}
        <li>No hay comentarios aún.</li>
    {% endfor %}
    </ul>
    <a href="/">Volver a la lista</a>
{% endblock %}